@model PingOneDemo.Model.RegistrationViewModel

@{
    ViewBag.Title = "About";
}
<h2>User Registration</h2>

@using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.email)
        @Html.TextBoxFor(model => model.email)
    </div>

    <div>
        @Html.LabelFor(model => model.firstName)
        @Html.TextBoxFor(model => model.firstName)
    </div>

    <div>
        @Html.LabelFor(model => model.lastName)
        @Html.TextBoxFor(model => model.lastName)
    </div>

    <div>
        @Html.LabelFor(model => model.password)
        @Html.PasswordFor(model => model.password)
    </div>

    <div>
        @Html.LabelFor(model => model.confirmPassword)
        @Html.PasswordFor(model => model.confirmPassword)
    </div>

    <div>
        <input type="submit" value="Register" />
    </div>
}